@use 'normalize';

$title-font: 'Josefin Sans', sans-serif;
$body-font: 'Alata', sans-serif;

$background-color: hsl(0, 0%, 41%);
$text-color: hsl(0, 0%, 55%);
$color-dark: hsl(0, 0%, 0%);
$color-contrast: hsl(0, 0%, 100%);

$font-size: 15px;
$font-size-small: 1rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;

body {
  font-family: $body-font;
  font-size: $font-size;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: 300;
  color: $color-dark;
}

h2 {
  font-size: $font-size-large;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-medium;
  text-transform: uppercase;
}

p, a {
  font-size: $font-size-small;
  font-family: $body-font;
  line-height: 1.4;
  margin: 0;
}

p {
  color: $color-dark;
  opacity: 0.5;
}

a {
  color: $color-contrast;
  position: relative;
  font-weight: $body-font;

  &:hover::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 25%;
    width: 50%;
    border-bottom: 2px solid $color-contrast;
  }
}

footer {
  background-color: $color-dark;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


// utilitys
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

// layout
.products {
  padding: 2rem 0;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template:
		"title title button" 100px
		"products-area products-area products-area" auto;
  h2 {
    grid-area: title;
  }
  button {
    grid-area: button;
    justify-self: end;
  }
  .products-area {
    grid-area: products-area;
  }

  @media screen and (max-width: 480px) {
    justify-content: center;
    grid-template:
      "title"
      "products-area"
      "button";
    h2, button {
      justify-self: center;
    }
  }
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.875rem;
  margin-bottom: 1.875rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  @media screen and (max-width: 768px) {
    padding: 0;
    max-width: 100%;
  }
}

.support {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 1fr;
  gap: 0;
  grid-template-areas: "image text";
  align-items: end;
  padding: 12rem 0;

  .image {
    grid-area: image;
    grid-row: 1 / 2;
  }

  .text-box {
    grid-area: text;
    grid-row: 1 / 2;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    grid-template-areas: "image"
                         "text";
    .image {
      grid-row: 1;
      img {
        width: 100%;
      }
    }
    .text-box {
      grid-row: 2;
    }
  }
}

// blocks

.main-header {
  padding-top: 4rem;
  background-image: url('../public/images/desktop/image-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  @media screen and (max-width: 768px) {
    padding: 0.5rem;
  }
}

.slogan {
  border: 2px solid $color-contrast;
  padding: 2.5rem;
  font-size: 4.5rem;
  font-weight: 300;
  font-family: $title-font;
  color: $color-contrast;
  text-transform: uppercase;
  max-width: 650px;
  margin-top: 8rem;
  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

.text-box{
  background-color: $color-contrast;
  padding-top: 4rem;
  padding-left: 5rem;
  max-width: 445px;
  @media screen and (max-width: 768px) {
    max-width: 480px;
    padding: 0;
    text-align: center;
    justify-self: center;
  }
}

.menu {
  ul
  {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    list-style: none;

    li a{
      text-decoration: none;
      font-family: $title-font;
      font-size: $font-size-small;
      padding-left: 1rem;
    }
  }
}

.menu-default {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.menu-mobile {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: $color-dark;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  .header-menu-mobile {
    padding: 1rem;
  }
  .menu {
    ul {
      margin-top: 6rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0;
      list-style: none;

      li a{
        text-decoration: none;
        text-transform: uppercase;
        font-family: $title-font;
        font-size: $font-size-medium;
      }
    }
  }
}

.menu-mobile-open {
  display: block !important;
  opacity: 1;
  transform: translateX(0);
}

.menu-hamburger {
  cursor: pointer;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}


.btn-primary {
  padding: 12px 38px;
  border: solid 1px $color-dark;
  text-transform: uppercase;
  width: 164px;
  cursor: pointer;
  background-color: $color-contrast;

  &:hover {
    background-color: $color-dark;
    color: $color-contrast;
  }
}

.product {
  position: relative;
  picture {
    display: block;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    z-index: 1;
  }
  h3 {
    z-index: 2;
    max-width: 180px;
    position: absolute;
    bottom: 0;
    left: 40px;
    color: $color-contrast;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  height: 160px;

  .footer-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .social-media {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  .menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    ul {
      justify-content: flex-start;
      li a {
        padding-left: 0;
      }
    }
  }
  .rights {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: right;
  }

  p {
    color: $color-contrast;
  }
  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    height: 360px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .footer-logo {
      grid-column: 1;
      grid-row: 1 / 2;
      display: flex;
      justify-content: center;
    }
    .social-media {
      grid-column: 1;
      grid-row: 3 / 4;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
    .menu {
      grid-column: 1;
      grid-row: 2 / 3;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
      }
    }
    .rights {
      grid-column: 1;
      grid-row: 4 / 5;
      text-align: center;
    }
  }
}

